@import '../../styles/config/mixins';
@import '../../styles/config/variables';

.card {
    width: 100%;
    height: auto;
    min-height: rem(420px);
    border: rem(4px) solid color(black);
    box-shadow: rem(-8px) rem(8px) 0 0 color(primary-light);

    &__head {
        border-bottom: rem(4px) solid color(black);
        padding: rem(8px) rem(8px) rem(6px) rem(8px);

        span {
            display: inline-block;
            width: rem(16px);
            height: rem(16px);
            border: rem(3px) solid color(black);
            border-radius: rem(16px);
            margin-right: rem(8px);
        }
    }

    &__body {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        padding: rem(46px);
        text-align: center;
        height: calc(100% - 38px);

        h2 {
            margin-top: auto;
        }

        p {
            @include font-size(24px);
            font-weight: $bold;
            margin: rem(8px) 0 rem(32px) 0;

            @include tablet {
                @include font-size(32px);
            }
        }

        a {
            margin-top: auto;
        }
    }
}