@import '../../styles/config/mixins';
@import '../../styles/config/variables';

.primary {

    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;

        &__wrapper {
            flex-grow: 1;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            margin: rem(120px) 0;

            @include tablet {
                align-items: center;
            }

            h2 {
                margin-bottom: rem(32px);

                @include tablet {
                    text-align: center;
                }
            }
        }
    }

    &__decoration {
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            height: rem(32px);
            border-left: rem(4px) solid color(white);
            position: absolute;
            top: 0;
            left: 0;
        }

        fieldset {
            border-color: color(white);

            legend {
                color: color(white);
                background-color: color(primary);
                transform: rotate(180deg) translateX(50%) translateY(-2rem);
            }
        }
    }
}