@import '../../styles/config/mixins';
@import '../../styles/config/variables';

.teachers {
    width: 100%;

    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;

        &__decoration {
            position: relative;
    
            &:after {
                content: '';
                display: inline-block;
                height: rem(32px);
                border-left: rem(4px) solid color(black);
                position: absolute;
                top: 0;
                left: 0;
            }
    
            fieldset {
    
                legend {
                    transform: rotate(180deg) translateX(50%) translateY(-2rem);
                }
            }
        }

        &__wrapper {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: rem(64px);
            padding: rem(80px) 0;
            margin: 0 auto;

            @include tablet {
                padding: rem(120px) 0;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: rem(32px);
            }

            @include desktop {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }

    &__title {
        text-align: center;
        transform: translateY(16px) translateX(-16px);
        padding-bottom: rem(46px);

        @include tablet {
            grid-column: span 2 / span 2;
        }

        @include desktop {
            grid-column: span 3 / span 3;
        }

        h2 {
            display: inline-block;
            width: auto;
            max-width: unset;
            position: relative;
            line-height: 1.75;
        }

        &__text {
            display: inline-block;
            font-size: inherit;
            line-height: inherit;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-16px) translateX(16px);
        }
    
        &__decoration {
            display: inline;
            font-size: inherit;
            line-height: inherit;
            color: transparent;
            background: color(primary-light);
            box-shadow: 0 0 0 color(primary-light), rem(-12px) 0 0 color(primary-light);
        }
    }
}