@use "settings" as *;

.logo {
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secundary;
}

.main {
  color: $primary;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
